# Ядро
numpy>=1.26
pandas>=2.1
scipy>=1.11

# Визуализация
matplotlib>=3.8
seaborn>=0.13

# Машинное обучение
scikit-learn>=1.4

# Статистика и временные ряды
statsmodels>=0.14

# Нейронные сети (CPU)
tensorflow-cpu>=2.15

# Работа с текстом
nltk>=3.8

# Jupyter
jupyter>=1.0
ipykernel>=6.29
